//Generate all root colors
:root{
    @each $key, $value  in $colorList {
      --#{$key}:#{$value};
    }
}

//Generate text and background color
@each $key, $value in $colorList {
    .color-#{$key}{
        color: var(--#{$key});
    }
    .text-#{$key}{
        color: var(--#{$key});
    }
    .bg-#{$key}{
        background-color: var(--#{$key});
    }
    .hover-text-#{$key}:hover{
        color: var(--#{$key});
    }
    .hover-bg-#{$key}:hover{
        background-color: var(--#{$key});
    }
    .border-#{$key}{
        border-color: var(--#{$key}) !important;
    }
}