.font-great-vibes {
    font-family: "Great Vibes", cursive;
}
.font-parisienne {
    font-family: "Parisienne", cursive;
}
.font-sacramento {
    font-family: "Sacramento", cursive;
}
.font-delafield {
    font-family: "Mrs Saint Delafield", cursive;
}
.font-montez {
    font-family: "Montez", cursive;
}
.font-satisfy {
    font-family: "Satisfy", cursive;
}
.font-ubuntu {
    font-family: "Ubuntu", cursive;
}
.font-petit-formal {
    font-family: "Petit Formal Script", cursive;
}
.font-grand-hotel {
    font-family: "Grand Hotel", cursive;
}
.font-caveat {
    font-family: "Caveat", cursive;
}